@import url('reset.css');

html{
	width: 100vw;
	height: 100vh;
	font-size: 62.5%;
}

body{
	background-color: #fefefe;
	position: relative;
	font-family: times new roman,'微軟正黑體';
	color: #777;      /*大部分文字的顏色*/
}

.main{
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
}

h2{
	line-height: 150px;
	font-size: 6.0rem;
	text-align: center;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
	margin: 0 auto;
}

h3{
	font-size: 2.4rem;
}

p{
	font-size: 1.8rem;
	color: #777;
	line-height: 1.6;
}



/*---------主視覺---------------------------------*/
header{
	background-image: url(../img/header_1.jpg);
	background-size: cover;
	height: 550px;
	display: flex;
	flex-direction: column;
	font-family: inherit;
	color: #fefefe;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
	justify-content: center;
  align-items: center;
}


header h1{
	font-size: 9.0rem;
	margin-bottom: 25px;
	text-align: center;
}


/*---------主選單---------------------------------*/
.sel{
	background-color: #757065;
	height: 65px;
}

.sel ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sel li{
	flex-grow: 1;
}

.sel a{
	text-decoration: none;
	display: block;
	line-height: 65px;
	text-align: center;
	font-size: 2.2rem;
	color: #f5eeee;
}

.sel a:hover{
	background-color: #333;
	color: #999b84;
}

/*-----------關於ABOUT----------------------------*/
.about{
	flex-wrap: wrap;
	height: 550px;
	display: flex;
	margin: 0 auto;	
}

.about h2{}

.aboutbottom{
	display: flex;
	justify-content: center;
  align-items: center;
}

.aboutbottom img{
	width: 250px;
	display: block;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, .3);
}

.aboutbottom p{
	margin-left: 60px;
}

.aboutbottom a{
	text-decoration: none;
	color: #777;
}

.aboutbottom a:hover{
	color: #999b85;
}




/*-------------作品們COLLECTION------------------*/
.collection{
	height: 500px;
	background-color: #999B85;
	overflow: hidden;
	color: #f5eeee;
	margin: 0 auto;
	display: flex;
}


.collection h2{}

.collection ul{
	display: flex;
	/*flex-wrap: wrap;*/
	justify-content: center;
	padding-top: 20px;
	margin: 0 auto;
}

.collection a{
	text-decoration: none;
}

.collection a:hover{
	opacity: 60%;
	text-shadow:  3px 3px 3px rgba(0, 0, 0, .5);;
}



.collection li{
	margin-right: 10px;
	/*background-color: rgba(245, 238, 238, 0.3);*/
}

.collection img{
	display: block;
	width: 230px;
	height: 165px;
	margin-bottom: 40px;
	border: 5px solid rgba(245, 238, 238, 0.3);
}

.collection h3{
	text-align: center;
	color: #f5eeee;
}

/*-----------經歷EXPERINCE-----------------------*/
.experience{
	height: 550px;
	margin: 0 auto;
	display: flex;
}


.experience h2{}


.exbottom{
	margin: 0 auto;
	/*display: flex;*/
	/*justify-content: center;*/
  /*align-items: center;*/
}

.exbottom .work1{
	margin-top: 40px;
	margin-left: 180px;
}

.exbottom .work2{
  margin-top: 40px;
  margin-left: 180px;
}

.exbottom h4{
	font-size: 1.8rem;
	font-weight: bold;
}

.smallletter{
	font-size: 1.4rem;
}

.exbottom p{} 





/*------------我會的技能SKILL----------------------*/
.skill{
	justify-content: center;
	background-color: #999b85;
	margin: 0 auto;
	display: flex;
}

.skill h2{
	color: #f5eeee;
}

.sk-list{}

.sk-list ul{
	margin: 0 auto;
	display: flex;
	width: 1000px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.sk-list li{
	margin-bottom: 50px;
	width: 300px;
  line-height: 50px;
  box-sizing: border-box;
  border: 2px solid #f5eeee;
  color: #f5eeee;
  text-align: center;
  text-decoration: none;
  font-size: 2.0rem;
}


/*--------------社交軟體SOCIAL-------------------*/
.social{
	height: 300px;
	display: flex;
	margin: 0 auto;
	position: relative;
	/*flex-direction: column;*/
}

.social h2{

}

.so-bottom{
	margin-bottom: 120px;
	margin: 0 auto;
	display: flex;
	align-content: center;
	justify-content: center;
}

.so-bottom li{

	flex-grow: 1;

}

.so-bottom a{
	/*position: bottom center;*/
	text-align: center;
	flex-grow: 1;
	margin-left: 110px;
	/*display: block;*/
	/*float: left;*/
	transition: all 1s;
}

.so-bottom img:hover{
	transform: scale(1.1);
}



.so-bottom img{
	width: 60px;
	transition: all .5s;
}



/*--------------TOP buttom---------------------------------*/
.top{
	height: 50px;
	display: block;
	margin: 0 auto;
}

.toTop{
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 120px;
	height: 45px;
	background-color: #999b85;
	color:  #f5eeee;
	text-align: center;
	line-height: 45px;
	margin: 0px auto;
	border-radius: 5%;
	font-size: 18px;
	font-weight: bold;
}

.toTop:hover{
	background-color: #333;
	color: #999b85;
}



/*--------------COPYRIGHT---------------------------*/
footer{
	background-color: #3C3D35;
	height: 30px;
	margin: 0 auto;
}

footer p{
	font-size: 12px;
	color: #f5eeee;
	text-align: center;
	line-height: 30px;
}




/*----------------RWD--------------------------------*/

